@model PhoneBookMvc.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/site.css">
    <title>Edit</title>
</head>
<body>


    <hr />

    <div class="container">

        <form asp-action="Edit" class="well form-horizontal" method="post" id="contact_form">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />


            <fieldset>

                <!-- Form Name -->
                <legend>Details</legend>

                <!-- Name-->

                <div class="form-group">
                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                        </div>
                    </div>
                </div>

                <!-- LastName-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>

                        </div>
                    </div>
                </div>

                <!-- Phones-->
                <div class="form-group">



                    <label class="col-md-4 control-label">Phones</label>
                    @{
                        int counter = 0;
                    }
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                          
                            @foreach (var item in Model.Phones)
                            {


                                <div class="parent">
                                    <label asp-for="@item.PhoneNumber" class="control-label" style="padding:5px"> </label>

                                    <input id="inputField" asp-for="@item.PhoneNumber" class="form-control" readonly />
                                    <span asp-validation-for="@item.PhoneNumber" class="text-danger"></span>
                                    @if (@item.Type == PhoneType.Home)
                                    {

                                        <i class="material-icons" style="padding:5px"> <span class="glyphicon glyphicon-home"></span></i>


                                    }
                                    else if (@item.Type == PhoneType.Work)
                                    {
                                        <i class="material-icons" style="padding:5px"> <span class="glyphicon glyphicon-briefcase"></span></i>

                                    }
                                    else if (@item.Type == PhoneType.Mobile)
                                    {
                                        <i class="material-icons" style="padding:5px"> <span class="glyphicon glyphicon glyphicon-phone"></span></i>


                                    }
                                </div>


                                <br />
                                counter++;
                            }

                        </div>
                    </div>





                </div>
                        <!-- Text input-->

                        <div class="form-group  " style="display: flex;  justify-content: center;  align-items: center;">

                            <div class="col-md-4 inputGroupContainer" style="display: flex;  justify-content: center;  align-items: center;">

                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-warning">

                                        <a href="/Phone/PhonesWithPersonId?id=@Model.Id">Edit Phones</a>
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <!-- Text input-->
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                            <div class="col-md-4">
                                <button asp-action="Index">Back to List</button>

                            </div>
                            
                        </div>

</fieldset>
           
        </form>
    </div>
  
    </div><!-- /.container -->



</body>
</html>
